{% extends 'base.html' %}

{% block content %}

<script>
    // Define your JavaScript function
    function onPageLoad() {
        // Your code here
       document.getElementById('nav').style.display = 'none';
    //    document.getElementsByClassName('nav')[0].style.display = 'none';
        
    }

    // Call the function when the page loads
    window.onload = onPageLoad();
</script>
<div class="container">
    <div class="registration-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="registration-card">
            <h2>Verify your Email</h2>
            <!-- asking to verify email using sent link -->
            <p>Click the link sent to your email to verify your account.</p>
            <p>Didn't receive the email? <a href="{% url 'resend-verification-email' %}">Resend</a></p>
        </div>
    </div>
</div>
{% endblock %}